// Features
// --------------------------------------------------

@import "../styles/variables";

#features {
    width: 100%;
    margin-bottom: $spacing-min;
    display: table;

    h2 {
        padding-bottom: 15px;
    }

    img {
        width: 100%;
        height: auto;
    }

    > div {
        width: 100%;
        display: table;
    }
}

.feature {
    width: 100%;
    height: 100%;
    display: block;

    h3 {
        padding-top: 0;
        margin-top: 12px;

        &:after {
            margin: 5px 0;
            content: "\2014";
            color: $color-mint;
            font-size: 18px;
            font-weight: normal;
            display: block;
        }

        span {
            line-height: 100%;
            margin-top: 2px;
            margin-left: 2px;
            color: $color-gray-light;
            font-size: 90%;
            font-weight: 500;
            display: block;
        }
    }

    .fa-caret-right {
        width: auto;
        padding-left: 7px;
        color: $color-mint;
        top: 2px;
        position: relative;
        transition: padding-left 0.15s ease-out;
        display: inline-block;
    }

    &:first-child {
        margin-bottom: $spacing-max;
    }

    &:hover {
        .fa-caret-right {
            padding-left: 11px;
        }
    }

    > div {
        display: block;

        &:first-child {
            height: 140px;
            line-height: 140px;
            text-align: center;
            overflow: hidden;
        }
    }

    @media (min-width: 630px) {
        width: 50%;
        vertical-align: top;
        display: table-cell;

        &:first-child {
            margin-bottom: 0;
            padding-right: $spacing-min / 2;
        }

        &:last-child {
            padding-left: $spacing-min / 2;
        }
    }

    @media (min-width: $screen-med) {
        h3 {
            &:after {
                margin: 10px 0;
                font-size: 20px;
                font-weight: 700;
            }
        }

        .fa-caret-right {
            padding-left: 10px;
        }

        &:first-child {
            padding-right: $spacing-min;
        }

        &:last-child {
            padding-left: $spacing-min;
        }

        &:hover {
            .fa-caret-right {
                padding-left: 14px;
            }
        }

        > div {
            display: block;

            &:first-child {
                height: 160px;
                line-height: 160px;
                vertical-align: middle;
            }

            &:last-child {
                vertical-align: top;
            }
        }
    }
}

.feature-more {
    margin-top: 5px;
    color: $color-gray-light;
    font-size: 88%;
    font-weight: 500;

    @media (min-width: $screen-med) {
        margin-top: $spacing-min / 2;
    }
}

.feature-andeavor {
    h3 {
        &:after {
            color: $color-andeavor;
        }
    }

    .fa-caret-right {
        color: $color-andeavor;
    }

    img {
        max-width: 85px;
    }

    > div {
        &:first-child {
            background-color: $color-andeavor;
        }
    }

    @media (min-width: $screen-med) {
        img {
            max-width: 95px;
        }
    }
}

.feature-benchmade {
    h3 {
        &:after {
            color: $color-benchmade;
        }
    }

    .fa-caret-right {
        color: $color-benchmade;
    }

    img {
        max-width: 102px;
    }

    > div {
        &:first-child {
            background-color: $color-benchmade;
        }
    }

    @media (min-width: $screen-med) {
        img {
            max-width: 112px;
        }
    }
}

.feature-cole-weber {
    h3 {
        &:after {
            color: $color-cole-weber;
        }
    }

    .fa-caret-right {
        color: $color-cole-weber;
    }

    img {
        max-width: 150px;
    }

    > div {
        &:first-child {
            background-color: $color-cole-weber;
        }
    }

    @media (min-width: $screen-med) {
        img {
            max-width: 170px;
        }
    }
}

.feature-tease {
    h3 {
        &:after {
            color: $color-tease;
        }
    }

    .fa-caret-right {
        color: $color-tease;
    }

    img {
        max-width: 150px;
    }

    > div {
        &:first-child {
            background-color: #ddd;
        }
    }

    @media (min-width: $screen-med) {
        img {
            max-width: 170px;
        }
    }
}

.feature-washingtons-lottery {
    h3 {
        &:after {
            color: $color-washingtons-lottery;
        }
    }

    .fa-caret-right {
        color: $color-washingtons-lottery;
    }

    img {
        max-width: 90px;
    }

    > div {
        &:first-child {
            background-color: $color-washingtons-lottery;
        }
    }

    @media (min-width: $screen-med) {
        img {
            max-width: 100px;
        }
    }
}