// Header
// --------------------------------------------------

@import "../styles/variables";

#header {
    min-width: $screen-min;
    background: linear-gradient(to bottom, $color-pear 0%, $color-mint 70%);
    position: relative;
    flex: none;

    .container {
        padding: $spacing-max $spacing-min 5px;
        position: relative;
        z-index: 1;
    }

    a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
    }

    button {
        padding: 5px $spacing-min;
        line-height: 30px;
        background-color: transparent;
        border: 0;
        outline: none;      
        right: 0;
        bottom: 0;
        position: absolute;
        cursor: pointer;
    }

    .fa-bars {
        width: 24px;
        height: 28px;
        color: #fff;
    }

    @media (min-width: $screen-med) {
        .container {
            padding: ($spacing-max + $spacing-min) $spacing-max 10px;
        }

        button {
            padding: 10px $spacing-max;
            line-height: 40px;
        }

        .fa-bars {
            width: 30px;
            height: 34px;
        }
    }

    @media print {
        display: none;
    }
}

.header-bg {
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    transition: opacity 2s ease-in-out;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}

.andeavor {
    .header-bg-andeavor {
        background: linear-gradient(to bottom, $color-andeavor 0%, lighten($color-andeavor, 15%) 70%);
    }
}

.tease {
    .header-bg-tease {
        background: linear-gradient(to bottom, $color-tease 0%, lighten($color-tease, 10%) 70%);
    }
}
